In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('players_main_specs.csv')

In [3]:
print(df.shape)
df.head()

(90589, 19)

,full_name,overall_rating,potential,value,wage,club,league,position,preferred_foot,skill_moves,week_foot,international_reputation,release_clause,id,work_rate,body_type,joined,contract_valid_until,birthdate_heigt_weight
0,Rasmus Winther Højlund,77,89,€25.5M,€77K,Manchester United,Premier League,ST,Left,3,3,1,€53.6M,259399.0,Medium/ High,Normal (185+),"Aug 5, 2023",2028,"20y.o. (Feb 4, 2003) 191cm / 6'3"" 79kg / 174lbs"
1,Joe Worrall,74,76,€4.6M,€45K,Nottingham Forest,Premier League,CB,Right,2,2,1,€9.1M,230708.0,Medium/ High,Normal (185+),"Jul 1, 2015",2024,"26y.o. (Jan 10, 1997) 190cm / 6'3"" 90kg / 198lbs"
2,Kobbie Mainoo,67,87,€2.7M,€8K,Manchester United,Premier League,CDM,Right,3,2,1,€7.8M,269136.0,High/ High,Lean (170-185),"May 16, 2022",2027,"18y.o. (Apr 19, 2005) 184cm / 6'0"" 80kg / 176lbs"
3,Florentino Ibrain Morris Luís,80,85,€29M,€14K,Benfica,Primeira Liga,CDM,Right,3,2,1,€60.2M,234569.0,Medium/ High,Lean (170-185),"Jul 1, 2017",2027,"23y.o. (Aug 19, 1999) 184cm / 6'0"" 74kg / 163lbs"
4,João Pedro Gonçalves Neves,73,87,€7M,€4K,Benfica,Primeira Liga,CM,Right,3,3,1,€18.4M,272834.0,Medium/ Medium,Normal (170-185),"Jul 1, 2022",2028,"18y.o. (Sep 27, 2004) 174cm / 5'9"" 66kg / 146lbs"

In [4]:
df.duplicated().sum()

83396

In [5]:
df.drop_duplicates(inplace= True)
df.reset_index(drop= True, inplace= True)

In [6]:
top_5_leagues = ['Premier League', 'Bundesliga', 'La Liga', 'Serie A', 'Ligue 1']
top_5_df = df[df.league.isin(top_5_leagues)].reset_index(drop= True)
print(top_5_df.shape)

(2518, 19)

In [7]:
top_5_df.isnull().sum()

full_name                     0
overall_rating                0
potential                     0
value                         0
wage                          0
club                          0
league                        0
position                      0
preferred_foot                0
skill_moves                   0
week_foot                     0
international_reputation      0
release_clause                2
id                          236
work_rate                     0
body_type                     0
joined                      211
contract_valid_until          3
birthdate_heigt_weight        0
dtype: int64

In [8]:
top_5_df.dropna(inplace= True)
top_5_df.reset_index(inplace= True, drop= True)

In [9]:
top_5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2282 entries, 0 to 2281
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   full_name                 2282 non-null   object
 1   overall_rating            2282 non-null   int64
 2   potential                 2282 non-null   int64
 3   value                     2282 non-null   object
 4   wage                      2282 non-null   object
 5   club                      2282 non-null   object
 6   league                    2282 non-null   object
 7   position                  2282 non-null   object
 8   preferred_foot            2282 non-null   object
 9   skill_moves               2282 non-null   int64
 10  week_foot                 2282 non-null   int64
 11  international_reputation  2282 non-null   int64
 12  release_clause            2282 non-null   object
 13  id                        2282 non-null   float64
 14  work_rate                 2282 non-null   object
 15  body_type                 2282 non-null   object
 16  joined                    2282 non-null   object
 17  contract_valid_until      2282 non-null   object
 18  birthdate_heigt_weight    2282 non-null   object
dtypes: float64(1), int64(5), object(13)
memory usage: 338.9+ KB

In [10]:
top_5_df.shape

(2282, 19)

In [11]:
top_5_df.head(1)

,full_name,overall_rating,potential,value,wage,club,league,position,preferred_foot,skill_moves,week_foot,international_reputation,release_clause,id,work_rate,body_type,joined,contract_valid_until,birthdate_heigt_weight
0,Rasmus Winther Højlund,77,89,€25.5M,€77K,Manchester United,Premier League,ST,Left,3,3,1,€53.6M,259399.0,Medium/ High,Normal (185+),"Aug 5, 2023",2028,"20y.o. (Feb 4, 2003) 191cm / 6'3"" 79kg / 174lbs"

In [12]:
def extract_money(x):
    if x.endswith('M'):
        x = (10 ** 6) * float(x[1:-1])
        return x
    elif x.endswith('K'):
        x = (10 ** 3) * float(x[1:-1])
        return x
    else:
        x = float(x[1:])
        return x

In [13]:
top_5_df.value = top_5_df.value.apply(extract_money)
top_5_df.wage = top_5_df.wage.apply(extract_money)
top_5_df.release_clause = top_5_df.release_clause.apply(extract_money)
top_5_df.id = top_5_df.id.astype('object')
top_5_df.joined = pd.to_datetime(top_5_df.joined)
top_5_df.contract_valid_until = top_5_df.contract_valid_until.astype('int')

In [14]:
premleague = top_5_df[top_5_df.league == 'Premier League'].reset_index(drop= True)
print('Premier League: ', premleague.shape)
laliga = top_5_df[top_5_df.league == 'La Liga'].reset_index(drop= True)
print('La Liga: ', laliga.shape)
seriea = top_5_df[top_5_df.league == 'Serie A'].reset_index(drop= True)
print('Serie A: ', seriea.shape)
bundesliga = top_5_df[top_5_df.league == 'Bundesliga'].reset_index(drop= True)
print('Bundesliga: ', bundesliga.shape)
ligue1 = top_5_df[top_5_df.league == 'Ligue 1'].reset_index(drop= True)
print('Ligue 1: ', ligue1.shape)

Premier League:  (602, 19)
La Liga:  (458, 19)
Serie A:  (393, 19)
Bundesliga:  (474, 19)
Ligue 1:  (355, 19)

In [15]:
premleague_clubs = pd.read_csv('premier_clubs.csv')
laliga_clubs = pd.read_csv('laliga_clubs.csv')
seriea_clubs = pd.read_csv('seriea_clubs.csv')
bundesliga_clubs = pd.read_csv('bundes_clubs.csv')
ligue1_clubs = pd.read_csv('ligue1_clubs.csv')

In [16]:
premleague = premleague[premleague.club.isin(premleague_clubs.club.unique())]
print('Premier League: ', premleague.shape)
laliga = laliga[laliga.club.isin(laliga_clubs.club.unique())]
print('La Liga: ', laliga.shape)
seriea = seriea[seriea.club.isin(seriea_clubs.club.unique())]
print('Serie A: ', seriea.shape)
bundesliga = bundesliga[bundesliga.club.isin(bundesliga_clubs.club.unique())]
print('Bundesliga: ', bundesliga.shape)
ligue1 = ligue1[ligue1.club.isin(ligue1_clubs.club.unique())]
print('Ligue 1: ', ligue1.shape)

Premier League:  (569, 19)
La Liga:  (453, 19)
Serie A:  (386, 19)
Bundesliga:  (391, 19)
Ligue 1:  (331, 19)

In [17]:
top_5_df.shape

(2282, 19)

In [18]:
top_5_df = pd.concat([premleague, laliga, bundesliga, ligue1, seriea], axis= 0)
top_5_df.reset_index(inplace= True, drop= True)

In [19]:
top_5_df.shape

(2130, 19)

In [20]:
top_5_df.duplicated().sum()

0

In [21]:
top_5_df.isnull().sum()

full_name                   0
overall_rating              0
potential                   0
value                       0
wage                        0
club                        0
league                      0
position                    0
preferred_foot              0
skill_moves                 0
week_foot                   0
international_reputation    0
release_clause              0
id                          0
work_rate                   0
body_type                   0
joined                      0
contract_valid_until        0
birthdate_heigt_weight      0
dtype: int64

In [22]:
top_5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2130 entries, 0 to 2129
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   full_name                 2130 non-null   object
 1   overall_rating            2130 non-null   int64
 2   potential                 2130 non-null   int64
 3   value                     2130 non-null   float64
 4   wage                      2130 non-null   float64
 5   club                      2130 non-null   object
 6   league                    2130 non-null   object
 7   position                  2130 non-null   object
 8   preferred_foot            2130 non-null   object
 9   skill_moves               2130 non-null   int64
 10  week_foot                 2130 non-null   int64
 11  international_reputation  2130 non-null   int64
 12  release_clause            2130 non-null   float64
 13  id                        2130 non-null   object
 14  work_rate                 2130 non-null   object
 15  body_type                 2130 non-null   object
 16  joined                    2130 non-null   datetime64[ns]
 17  contract_valid_until      2130 non-null   int32
 18  birthdate_heigt_weight    2130 non-null   object
dtypes: datetime64[ns](1), float64(3), int32(1), int64(5), object(9)
memory usage: 308.0+ KB

In [23]:
sample = df.loc[0, 'birthdate_heigt_weight']
sample

'20y.o. (Feb 4, 2003) 191cm / 6\'3" 79kg / 174lbs'

In [24]:
sample.split("cm")[0].split()[-1]

'191'

In [25]:
def ext_features(x):
    age = int(x.split('y')[0])
    birthdate = pd.to_datetime(x.split("(")[1].split(")")[0])
    height = int(x.split("cm")[0].split()[-1])
    weight = int(x.split("kg")[0].split()[-1])
    return pd.Series((age, birthdate, height, weight))

In [26]:
top_5_df[['age', 'birthdate', 'height', 'weight']] = df.birthdate_heigt_weight.apply(ext_features)
top_5_df.drop('birthdate_heigt_weight', axis= 1, inplace= True)
top_5_df.reset_index(drop= True, inplace= True)

In [27]:
top_5_leagues

['Premier League', 'Bundesliga', 'La Liga', 'Serie A', 'Ligue 1']

In [28]:
countries_dist = {
    'Premier League': 'England',
    'Bundesliga': 'Germany',
    'La Liga': 'Spain',
    'Serie A': 'Italy',
    'Ligue 1': 'France'
}

In [29]:
top_5_df['country'] = top_5_df.league.map(countries_dist)

In [30]:
top_5_df.head(2)

,full_name,overall_rating,potential,value,wage,club,league,position,preferred_foot,skill_moves,...,id,work_rate,body_type,joined,contract_valid_until,age,birthdate,height,weight,country
0,Rasmus Winther Højlund,77,89,25500000.0,77000.0,Manchester United,Premier League,ST,Left,3,...,259399.0,Medium/ High,Normal (185+),2023-08-05,2028,20,2003-02-04,191,79,England
1,Joe Worrall,74,76,4600000.0,45000.0,Nottingham Forest,Premier League,CB,Right,2,...,230708.0,Medium/ High,Normal (185+),2015-07-01,2024,26,1997-01-10,190,90,England

In [31]:
# top_5_df.to_excel('top_5_leagues.xlsx')

In [32]:
top_5_df[top_5_df.country.isnull()]

Empty DataFrame
Columns: [full_name, overall_rating, potential, value, wage, club, league, position, preferred_foot, skill_moves, week_foot, international_reputation, release_clause, id, work_rate, body_type, joined, contract_valid_until, age, birthdate, height, weight, country]
Index: []

[0 rows x 23 columns]

In [33]:
top_5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2130 entries, 0 to 2129
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   full_name                 2130 non-null   object
 1   overall_rating            2130 non-null   int64
 2   potential                 2130 non-null   int64
 3   value                     2130 non-null   float64
 4   wage                      2130 non-null   float64
 5   club                      2130 non-null   object
 6   league                    2130 non-null   object
 7   position                  2130 non-null   object
 8   preferred_foot            2130 non-null   object
 9   skill_moves               2130 non-null   int64
 10  week_foot                 2130 non-null   int64
 11  international_reputation  2130 non-null   int64
 12  release_clause            2130 non-null   float64
 13  id                        2130 non-null   object
 14  work_rate                 2130 non-null   object
 15  body_type                 2130 non-null   object
 16  joined                    2130 non-null   datetime64[ns]
 17  contract_valid_until      2130 non-null   int32
 18  age                       2130 non-null   int64
 19  birthdate                 2130 non-null   datetime64[ns]
 20  height                    2130 non-null   int64
 21  weight                    2130 non-null   int64
 22  country                   2130 non-null   object
dtypes: datetime64[ns](2), float64(3), int32(1), int64(8), object(9)
memory usage: 374.5+ KB

In [34]:
top_5_df.columns

Index(['full_name', 'overall_rating', 'potential', 'value', 'wage', 'club',
       'league', 'position', 'preferred_foot', 'skill_moves', 'week_foot',
       'international_reputation', 'release_clause', 'id', 'work_rate',
       'body_type', 'joined', 'contract_valid_until', 'age', 'birthdate',
       'height', 'weight', 'country'],
      dtype='object')